body
	background-color:#FFF8E4
.header
	display: flex
	align-items: center
	min-height: 88px	
	&_logo
		display: flex
		justify-content: center
		font-family: 'mr_ApexMk3' 
		font-style: normal 
		font-weight: 500 
		font-size: 32px 
		line-height: 38px 
		color: #121212 
	&_nav
		display: flex
		align-items: center
		justify-content: center
		a			
			margin-right: 50px
			text-decoration: none
			font-family: 'Manrope' 
			font-style: normal 
			font-weight: 400 
			font-size: 20px 
			line-height: 27px 
			text-align: center 
			color: #121212 
			&:nth-last-child()
				margin-right: 0
.studio
	height: 607px
	&_samara
		width: 100%
		height: 607px
		/* background: url(../img/studio.png) center (center/cover) no-repeat
		/* background-size: cover */
		&_block
			display: flex
			flex-wrap: wrap
			flex-direction: column
			img
				z-index: -1

			h2
				margin-top: 130px
				font-family: 'mr_ApexMk3' 
				font-style: normal 
				font-weight: 500 
				font-size: 48px 
				line-height: 120% 
				color: #121212 

			span
				margin-top: 20px
				font-family: 'Manrope' 
				font-style: normal 
				font-weight: 400 
				font-size: 24px 
				line-height: 33px 
				color: #121212 
			&_btn
				margin-top: 30px
				width: 360px
				height: 80.82px
				background: #7EDED7 
				border: 1px solid #121212 
				box-shadow: 6px 6px 0px #121212 
				border-radius: 62px 
				font-family: 'Manrope' 
				font-style: normal 
				font-weight: 600 
				font-size: 24px 
				line-height: 33px 
				text-align: center 
				color: #121212 


		
				