body {
  background-color: #FFF8E4;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 88px;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'mr_ApexMk3';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #121212;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_nav a {
  margin-right: 50px;
  text-decoration: none;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #121212;
}

.header_nav a:nth-last-child() {
  margin-right: 0;
}

.studio {
  height: 607px;
}

.studio_samara {
  width: 100%;
  height: 607px;
  /* background: url(../img/studio.png) center (center/cover) no-repeat */
  /* background-size: cover */
}

.studio_samara_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.studio_samara_block img {
  z-index: -1;
}

.studio_samara_block h2 {
  margin-top: 130px;
  font-family: 'mr_ApexMk3';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #121212;
}

.studio_samara_block span {
  margin-top: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #121212;
}

.studio_samara_block_btn {
  margin-top: 30px;
  width: 360px;
  height: 80.82px;
  background: #7EDED7;
  border: 1px solid #121212;
  -webkit-box-shadow: 6px 6px 0px #121212;
          box-shadow: 6px 6px 0px #121212;
  border-radius: 62px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #121212;
}
